.paymentcontainer {
  display: flex;
  height: 82vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.tagpara {
  text-align: center;
  font-size: 18px;
  font-weight: 500;
}
h1 {
  margin: 5px;
}
.go {
  padding: 9px 17px;
  border-radius: 6px;
  border: none;
  background-color: rgb(235, 146, 58);
  font-weight: 600;
  color: white;
}
